h2
{
    color: brown !important;
    text-align: center;
    background-color:honeydew;
}
p
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
h1
{
    text-align: right;
}

